@media screen and (min-width: 320px) {
	.dailyNews {
		display: flex;
		align-self: flex-start;
		flex-wrap: wrap;
		background-color: #fff;
		box-sizing: border-box;
		width: 100%;
	}
}
@media screen and (min-width: 1000px) {
	.dailyNews {
		padding-bottom: 25px;
		display: flex;
		flex-wrap: wrap;
		background-color: #fff;
		box-sizing: border-box;
		width: 250px;
	}
}