/*@media screen and (min-width: 320px) {*/
	.search__input {
		display: none;
		padding: 17px 21px 15px 21px;
		width: 319px;
		border: none;
		border-radius: 20px;
		background-color: #f3f3f3;
		outline: none;
	}	
	.search__input::-webkit-search-cancel-button,
	.search__input::-webkit-search-results-decoration {
		display: none; 
	}
/*}*/
@media screen and (min-width: 1000px) {
	.search__input {
		display: block;
	}	

}