@media screen and (min-width: 320px) {
	.news__rubric_main {
		color: #fff;
		width: 100%;
		padding: 0;
	}
	.news__rubric_main::before {
		color: #fff;
	}
}
@media screen and (min-width: 1000px) {
	.news__rubric_main {
	}
}