@media screen and (min-width: 320px) {
	.news__heading_mainNews {
		width: 100%;
		box-sizing: border-box;
		padding: 0 25px;
		/*padding: 15px 22px 13px 25px;*/
		font-family: "Arial", sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
	}
}
@media screen and (min-width: 1000px) {
	.news__heading_mainNews {
		padding: 0;
	}
}