@media screen and (min-width: 320px) {
	.news__lead {
		display: none;
		margin-top: 22px;
		font-family: "Arial", sans-serif;
		font-size: 14px;
		color: #fff;
		line-height: 20px;
	}
}
@media screen and (min-width: 1000px) {
	.news__lead {
		display: block;
	}
}