/*@media screen and (min-width: 320px) {*/
	.news__img {
		width: 100%;
		min-height: 197px;
		object-fit: cover;
		margin-bottom: 14px;
	}
/*}*/
@media screen and (min-width: 768px) {
	.news__img {
/*		padding-left: 20px;
		box-sizing: border-box;*/
	}
}
@media screen and (min-width: 1000px) {
	.news__img {
		width: 100%;
		min-height: 140px;
		height: 140px;
		object-fit: cover;
		margin-bottom: 10px;
		padding-left: 0;
	}
}