@media screen and (min-width: 320px) {
	.news_mainNews {
		width: 100%;
		box-sizing: border-box;
		padding: 140px 10px 0 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		background-image: url('../../../img/1.jpg');
		background-repeat: no-repeat;
		background-size: auto 140px;

	}
}
@media screen and (min-width: 1000px) {
	.news_mainNews {
		margin-top: 20px;
		width: 220px;
	}
}