@media screen and (min-width: 320px) {
	.info__select {
		display: none;
	}
	.info__select::-ms-expand {
		display: none;
	}
}
@media screen and (min-width: 1000px) {
	.info__select {
		border: none;
		margin-left: 60px;
		padding-right: 17px;
		font-size: 16px;
		font-family: "Arial", sans-serif;
		color: #448ccb;
		background-image: url('../img/down-arrow.svg');
		background-repeat: no-repeat;
		background-position: 100% 50%;
		background-size: 9px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		text-decoration: underline;
		text-decoration-style: dashed;
		text-underline-position: under;
	}
	.info__select::-ms-expand {
		display: none;
	}
	.info__select:focus {  
		outline: none;
	}
}	