/*@media screen and (min-width: 320px) {*/
	.info__text_temp {
		display: none;
	}
/*}*/
@media screen and (min-width: 1000px) {
	.info__text_temp {
		display: block;
		height: 21px;
		margin-left: auto;
		padding-left: 39px;
		padding-top: 3px;
		box-sizing: border-box;
		background-image: url('../../../img/cloudy.svg');
		background-repeat: no-repeat;
		background-position: 0% 80%;
		background-size: 30px;
		color: #91919f;
		font-size: 16px;
		font-family: "Arial", sans-serif;
	}
}