@media screen and (min-width: 320px) {
	.newsBlock {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		align-self: flex-start;
		flex-wrap: wrap;

	}
}
@media screen and (min-width: 1000px) {
	.newsBlock {
		margin-bottom: 20px;
	}
}