@media screen and (min-width: 320px) {
	.footer {
		padding: 60px 0 0;
		background-color: #00122f;
	}
}
@media screen and (min-width: 1000px) {
	.footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}