@media screen and (min-width: 320px) {
	.advertising {
		order: 1;
		/*width: 100%;*/
		margin: 0 0 0 25px;
		overflow-x: scroll;
		box-sizing: border-box;
		display: flex;
		align-self: flex-start;
	}
}