/*@media screen and (min-width: 320px) {*/
	.advertising {
		order: 1;
		width: 100%;
		overflow: hidden;
		box-sizing: border-box;
		align-self: flex-start;
		margin-left: 25px;
		margin-bottom: 12px;
	}
	.advertising__ul {
		order: 1;
		width: 9999px;
		box-sizing: border-box;
		padding: 0;
		display: flex;
		flex-direction: row;
		transition: margin-left 0.8s;
	}
	.advertising__li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 250px;
		box-sizing: border-box;
		margin-bottom: 20px;
		margin-right: 20px;
		height: 401px;
	}
/*}*/
@media screen and (min-width: 480px) {
	.advertising {
		margin: 0 20px 12px;
	}
	.advertising__ul {
		width: 100%;
		margin: 0;
	}
	.advertising__li {
		margin-right: 20px;
		width: 50%;
		height: auto;
	}
	.advertising__li:last-child {
		margin-right: 0;
	}
}
@media screen and (min-width: 768px) {
	.advertising {
		order: 0;
		width: 37%;
		margin: 0;
	}
	.advertising__ul {
		/*width: 100%;*/
		margin: 0;
		transition: none;
		flex-direction: column;
		
	}
	.advertising__li {
		margin-right: 20px;
		width: 100%;
		height: auto;
/*		min-height: 300px;
		max-height: 500px;*/
	}
	.advertising__li:last-child {
		margin-right: 0;
	}
}
@media screen and (min-width: 1000px) {
	.advertising {
		width: auto;
		margin-left: 0;
		margin-bottom: 0;
	}
	.advertising__ul {
		width: 250px;
		margin: 0;
		flex-wrap: wrap;
		transition: none;
	}
	.advertising__li {
		margin-right: 0;
	}
}