@media screen and (min-width: 320px) {
	.advertising__item {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		height: 401px;
		background-image: url('../../../img/lexus.jpg');
		background-size: cover;
	}
}