/*@media screen and (min-width: 320px) {*/
	.calendar {
		display: flex;
		padding: 45px 25px 38px;
		justify-content: space-between;
	}	
/*}*/
@media screen and (min-width: 480px) {
	.calendar {
		padding: 45px 20px 38px;
	}
}
@media screen and (min-width: 1000px) {
	.calendar {
		display: none;
	}
}
