@media screen and (min-width: 320px) {
	.mainNews {
		width: 460px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-self: flex-start;
	}
}
@media screen and (min-width: 1000px) {
	.mainNews {
		width: 460px;
	}
}