/*@media screen and (min-width: 320px) {*/
	.menu__li_footer {
		color: #fff;
		margin-bottom: 12px;
		width: 50%;
		box-sizing: border-box;

	}
/*}*/
@media screen and (min-width: 1000px) {
	.menu__li_footer {
		margin-right: 60px;
		width: auto;
/*		list-style-type: none;
		margin-right: 57px;
		padding: 0;*/
	}
}