@media screen and (min-width: 320px) {
	.menu__list_header {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 170px;
	}
}
@media screen and (min-width: 1000px) {
	.menu__list_header {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 161px;
	}
}