/*@media screen and (min-width: 320px) {*/
	.menu_footer {
		box-sizing: border-box;
		align-self: flex-start;
		width: 100%;
		box-sizing: border-box;
		margin: 0 25px;
		margin-bottom: 30px;
	}
	.menu_footer:first-child {
		padding-bottom: 12px;
	}
	.menu_footer:nth-child(odd) {
		border-bottom: 1px solid #26354e;
	}
/*}*/
@media screen and (min-width: 1000px) {
	.menu_footer {
		width: auto;
		padding: 0;
		margin-bottom: 0;
	}
	.menu_footer:nth-child(odd) {
		border-bottom: none;
	}
	.menu_footer:nth-child(2) {
		margin-left: auto;
		margin-right: 60px;
	}
}