@media screen and (min-width: 320px) {
	.menu__list_footer {
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		/*height: 200px;*/
		width: 100%;
		box-sizing: border-box;
	}
}
@media screen and (min-width: 1000px) {
	.menu__list_footer {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 195px;
	}
}