@media screen and (min-width: 320px) {
	.contacts__item {
		margin-bottom: 40px;
		margin-top: 0;
		padding-left: 35px;
		font-family: "Arial", sans-serif;
		font-size: 18px;
		color: #fff;
		background-repeat: no-repeat;
		background-size: 15px;
		background-position: 0 50%;
	}
}
@media screen and (min-width: 1000px) {
}