/*.advertising {
	order: 1;
	width: 250px;
	display: flex;
	flex-wrap: wrap;
}
.advertising__item {
	margin-bottom: 20px;
}*/
@media screen and (min-width: 320px) {
	.advertising {
		align-self: flex-start;
		width: 250px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;


	}
	.advertising__item {
		margin: 0;
		height: 401px;
	}
}

