.news-agency {
	margin: 0;
	background-color: #f9f9f9;
}
.blockBackground_theme_dark-blue {
	background-color: #00122f;
}
.blockBackground_theme_white {
	background-color: #fff;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 1000px;
}
.blockStyle_theme_shadow {
	border-bottom: 2px solid #f3f3f3;
	box-shadow: 0 5px 10px 0 #efefef;
}
