.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 60px;
	padding: 55px 0 0;
}
.footer__nav {

}
.footer__list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 145px;
}
.footer__listItem {
	list-style-type: none;
	margin-right: 60px;
	padding: 0;
}
.footer__text {
	font-size: 16px;
	font-family: "Arial", sans-serif;
	color: #fff;
	text-decoration: none;
	line-height: 29px;
}
.copyright {
	border-top: 1px solid #26354e;
	padding: 20px 0;
	margin-top: 60px;
}
.copyright__text {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #8d9198;
	text-align: center;
	margin: 0;
}