.headerInfo {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 0 35px;
	display: flex;
	align-items: center;
}
.headerInfo__img_type_logo {
	margin-right: 60px;
}

.headerInfo__select {

}
.headerInfo__option {
	
}


.headerInfo__img_type_weather {
	width: 20px;
	margin-left: auto;
}
.headerInfo__input {
	margin-left: 50px;
}
