.headerTaglineAndTime {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 0 20px;
	display: flex;
	justify-content: space-between;
}
.headerTaglineAndTime__text {
	font-family: "Arial", sans-serif;
	color: #fff;
	font-size: 16px;
	margin: 0;
}
.headerTaglineAndTime__span_style_underline {
	text-decoration: underline;
}