.headerInfo {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 0 35px;
	display: flex;
	align-items: center;
}
.headerInfo__img_type_logo {
	margin-right: 60px;
}

.headerInfo__select {
	border: none;
	padding-right: 19px;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	color: #448ccb;
	background-image: url('../img/down-arrow.svg');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 9px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	text-decoration: underline;
	text-decoration-style: dashed;
	text-underline-position: under;
}
.headerInfo__select::-ms-expand {
	display: none;
}
.headerInfo__select:focus {  
	outline: none;
}
.headerInfo__option {
	color: #000;
}


.headerInfo__img_type_weather {
	width: 20px;
	margin-left: auto;
}
.headerInfo__input {
	margin-left: 50px;
}