/*.info {
	display: flex;
	padding: 40px 25px;
	justify-content: space-between;
}
.info__text {
	margin: 0;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	color: #91919f;
}
.info__text_time {
	padding-left: 26px;
	background-image: url('../img/clock.png');
	background-repeat: no-repeat;
	background-size: 16px;
}
.info__text_weather {
	padding-left: 39px;
	height: 21px;
	box-sizing: border-box;
	background-image: url('../img/cloudy.png');
	background-repeat: no-repeat;
	background-size: 29px 21px;
	background-position: 0 -2px;
}*/
@media screen and (min-width: 320px) {
	.info {
		display: flex;
		padding: 40px 25px 38px;
		justify-content: space-between;
	}
	.info__text {
		margin: 0;
		font-size: 16px;
		font-family: "Arial", sans-serif;
		color: #91919f;
	}
	.info__text_time {
		padding-left: 26px;
		background-image: url('../img/clock.png');
		background-repeat: no-repeat;
		background-size: 16px;
	}
	.info__text_weather {
		padding-left: 39px;
		height: 21px;
		box-sizing: border-box;
		background-image: url('../img/cloudy.png');
		background-repeat: no-repeat;
		background-size: 29px 21px;
		background-position: 0 -2px;
	}	
}
@media screen and (min-width: 1000px) {
	.info {
		display: flex;
		padding: 40px 25px;
		justify-content: space-between;
	}
	.info__text {
		margin: 0;
		font-size: 16px;
		font-family: "Arial", sans-serif;
		color: #91919f;
	}
	.info__text_time {
		padding-left: 26px;
		background-image: url('../img/clock.png');
		background-repeat: no-repeat;
		background-size: 16px;
	}
	.info__text_weather {
		padding-left: 39px;
		height: 21px;
		box-sizing: border-box;
		background-image: url('../img/cloudy.png');
		background-repeat: no-repeat;
		background-size: 29px 21px;
		background-position: 0 -2px;
	}
}
/* Дублирующийся стилевой документ, ненужное удалить */